*{
	font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #F7F7F7;
    margin: 0;
}
/* Header */
header{
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 10px 60px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.144);
    align-items: center;
    justify-content: space-between;
}
/* Header */

/* Logo */
#LogoNavigate{
    height: 45px; /* Adjust height as needed */
    width: auto; /* Maintain aspect ratio */
    
}
/* Logo */


/* User Forms */
.User a{
    text-decoration: none;
    margin-left: 25px;
    font-size: 16px;

}

#Login, #Signup, #Profile {
    padding: 7px 25px; 
    border-radius: 10px;
    font-weight: bold;
    align-items: center; 
    line-height: 1.2; 
}
#Profile{
    color: #343A40;
    
}
/* Dropdown Profile */
#Profile i {
    margin: 0px 5px; /* Adjust the value as needed */
}

#Profile .fa-angle-up{
    color: #F3548C; 
}

/* Dropdown Profile */

#Login {
    border: 1px solid #343A40;
    color: #343A40;
    
}

#Signup {
    border: 1px solid #F3548C;
    background-color: #F3548C;
    color: white;
}

/* User Forms */