/* Global Styles */
* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
}

/* Overlay */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.596);
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

#overlay.active {
    opacity: 1;
    pointer-events: auto;
}

/* Header */
header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 1vh 5vh;
    min-height: 70px;
    max-height: 70px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.144);
    z-index: 5;
    flex-wrap: wrap; /* Ensure items wrap on smaller screens */
}

#LogoNavigate {
    height: 45px;
    width: auto;
}

/* Animations */
#Profile, #Login, #Signup, #Bookmark, .dropdown-content a, #Generate, .child-row, #CreateProduct {
    transition: transform 0.3s ease, background-color 0.3s ease;
}

#Signup:hover, #Generate:hover, #CreateProduct:hover {
    background-color: #c74975;
}

/* Dropdown Profile */
#Profile {
    padding: 10px 20px;
    border-radius: 12px;
    font-size: medium;
    font-weight: bold;
    display: flex;
    align-items: center;
    line-height: 1.2;
    border: 1px solid white;
    cursor: pointer;
    background-color: white;
    position: relative;
}

#Profile i {
    pointer-events: none; /* Prevents icons from capturing the click events */
    margin: 0 5px;
}

#Profile:hover {
    background-color: #F0F2F2;
    border-color: #F0F2F2;
}

#Profile .fa-angle-up {
    color: #F3548C;
}

#Bookmark {
    color: #343A40;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid white;
    margin-left: 20px;
}

#Bookmark:hover {
    color: #F3548C;
    background-color: #F0F2F2;
    border-color: #F0F2F2;
}

/* Dropdown Content */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    margin-top: 10px;
    min-width: 220px;
    background-color: white;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    z-index: 2;
    border-radius: 12px;
    overflow: hidden;
    padding: 15px 0;
}

.dropdown-content a {
    color: #343A40;
    padding: 15px 20px;
    margin: 10px;
    text-decoration: none;
    display: block;
    border-radius: 12px;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #F0F2F2;
}

.dropdown.show .dropdown-content {
    display: block;
}

.dropdown.show #Profile i.fa-angle-up {
    transform: rotate(180deg);
}

/* User Forms */
.User {
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* Ensure items wrap on smaller screens */
}

.User a {
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}

#Login, #Signup {
    padding: 7px 20px;
    border-radius: 12px;
    font-weight: bold;
    align-items: center;
    line-height: 1.2;
}

#Login {
    border: 1px solid #343A40;
    color: #343A40;
}

#Login:hover {
    background-color: #F0F2F2;
}

#Signup {
    border: 1px solid #F3548C;
    background-color: #F3548C;
    color: white;
}

/* Content */

/* Dashboard Container */
.Container {
    display: flex;
    flex-direction: column;
    margin: 40px 20px;
    padding: 20px;
    height: 80vh;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}

/* Dashboard Styles */
.dashboard {
    margin-top: 50px;
}

/* Header Product Styles */
#headerProduct {
    background-color: #F3548C;
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    padding: 10px;
    flex-wrap: nowrap; /* Prevent wrapping of children */
}

#headerProduct .name, #headerProduct .last-updated {
    flex: 0.46; /* Flex grow to ensure proper alignment */
}

/* Child Row Styles */
.child-row {
    
    background-color: white;
    color: #333;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    align-items: center;
    flex-wrap: nowrap; /* Prevent wrapping of children */
    justify-content: space-between; /* Distribute space between children */
}

.child-row .name, .child-row .last-updated {
    flex: 1; /* Ensure items align horizontally */
    margin-right: 10px; /* Space between items */
}

.child-row .actions {
    margin-left: auto;
    display: flex;
    gap: 20px;
}

.child-row .actions a {
    color: #F3548C;
    text-decoration: none;
    font-weight: bold;
}

.child-row .actions a:hover {
    text-decoration: underline;
}

.child-row:hover {
    background-color: #ececec;
}

.fa-plus {
    color: white;
}

#CreateProduct {
    align-items: center;
    position: absolute;
    bottom: 70px;
    right: 40px;
    min-height: 40px;
    min-width: 40px;
    background-color: #F3548C;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.452);
}

#CreateProduct i {
    pointer-events: none;
    transition: transform 0.3s ease;
}

.button-text {
    color: #F3548C;
    font-weight: bold;
    font-size: medium;
    position: absolute;
    white-space: nowrap; /* Prevent text from wrapping */
    right: 50px; /* Position text to the right of the icon */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth text appearance */
    pointer-events: none;
}

#CreateProduct:hover .button-text {
    opacity: 1; /* Show text on hover */
    transform: translateX(0); /* Slide text into view */
}


/* Responsive Styles */
@media (max-width: 1200px) {
    

    #headerProduct {
        font-size: 14px;
    }

    #CreateProduct {
        bottom: 60px;
        right: 30px;
        min-height: 35px;
        min-width: 35px;
    }
    .child-row {
        padding: 8px;
        font-size: 14px;
    }
    .button-text {
        font-size: 14px;
        right: 40px;
    }
}

@media (max-width: 992px) {
  
    #headerProduct {
        font-size: 12px;
        padding: 8px;
    }

    .child-row {
        padding: 8px;
        font-size: 12px;
    }

    #CreateProduct {
        bottom: 50px;
        right: 20px;
        min-height: 30px;
        min-width: 30px;
    }

    .button-text {
        font-size: 12px;
        right: 30px;
    }
}

@media (max-width: 768px) {
    header {
        padding: 1vh 1vh;
    }

    #LogoNavigate {
        height: 30px;
    }

    #headerProduct {
        font-size: 10px;
        padding: 6px;
    }

    .child-row {
        padding: 6px;
        font-size: 10px;

    }

    #CreateProduct {
        bottom: 40px;
        right: 10px;
        min-height: 25px;
        min-width: 25px;
    }

    .button-text {
        font-size: 10px;
        right: 20px;
    }
}

@media (max-width: 576px) {
    header {
        padding: 1vh 0.5vh;
    }

    #LogoNavigate {
        height: 25px;
    }

    #headerProduct {
        font-size: 8px;
        padding: 4px;
    }

    .child-row {
        padding: 4px;
        font-size: 8px;
    }

    #CreateProduct {
        bottom: 30px;
        right: 5px;
        min-height: 20px;
        min-width: 20px;
    }

    .button-text {
        font-size: 8px;
        right: 10px;
    }
}
